{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/stunt2.jpeg" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">Stunt Life</span>
                  <span class="section-heading-lower">Nuestra historia</span>
                </h2>
                <p>Los Inicios Atrevidos (1900-1950):
                  En los primeros años del motociclismo, los pilotos comenzaron a experimentar con maniobras temerarias en sus motos. Los saltos simples y las posturas audaces eran algunas de las primeras formas de stunt. Durante la década de 1930, pilotos como Edey Schuppe y Evil Knievel se destacaron con acrobacias arriesgadas y saltos notables.</p>

                <p> Nacimiento de una Subcultura (1960-1980):
                  Los años 60 y 70 vieron el nacimiento de una subcultura dedicada al stunt en moto. Los pilotos comenzaron a perfeccionar técnicas como el "wheelie" (levantar la rueda delantera) y el "stoppie" (levantar la rueda trasera). Iconos como Gary Rothwell y Bubba Blackwell se convirtieron en referentes en esta época..</p>

                <p>De las Calles al Espectáculo (1990-2000):
                  La década de 1990 marcó una transición importante para el stunt en moto. Los pilotos llevaron sus habilidades de las calles a eventos organizados y competencias. Stunters como Jason Britton y Chris Pfeiffer elevaron la popularidad del stunt al exhibir acrobacias en programas de televisión y competencias internacionales.</p>

                <p>El Auge de las Redes Sociales y la Innovación (2000-2010):
                  Con el advenimiento de las redes sociales, los stunters pudieron compartir sus hazañas con una audiencia global. Se introdujeron trucos más avanzados como el "circle wheelie" y el "highchair wheelie". Las competencias y convenciones de stunt ganaron popularidad, brindando una plataforma para mostrar habilidades excepcionales.</p>

                <p>El Stunt Moderno (2010-Presente):
                  En la era actual, el stunt en moto ha alcanzado niveles nunca antes imaginados. Pilotos como Robbie Maddison han realizado saltos impresionantes sobre distancias extremas, mientras que otros han perfeccionado trucos enérgicos y acrobacias en equipo. Las redes sociales y plataformas de video han permitido que los stunters se vuelvan virales y ganen seguidores internacionales.</p>

                <p>Conclusión:
                  La historia del stunt en moto es un testimonio de la pasión, la audacia y la dedicación de los pilotos que han llevado sus máquinas al límite. Desde los modestos trucos de antaño hasta las maniobras aéreas y las acrobacias en equipo de hoy en día, el stunt en moto seguirá desafiando los límites y asombrando a las audiencias en todo el mundo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}
